/* This is just used to customize edit_bug.aspx */

/*
You can hide fields you aren't using.
*/

/*
#row1 {display:none;}
#row2 {display:none;}
#presets {display:none;}
#category_label {display:none;}
#category {display:none;}
*/


/*
If you would rather use more horizonatal space, less vertical,
the following css demos making the form wider and moving 
category and status onto the same line as priority.
*/
/*
#bugform_div form {width: 900px;}
#row3 {position: absolute; top: 193px; left: 360px;}
#row6 {position: absolute; top: 193px; left: 550px;}
*/



/*
Custom fields also have ids that you can reference.
*/
/*
#foobar_label {font-weight:bold; color: red;}
#foobar {font-weight:bold; color: red;}
*/

